* {
  color: red;
}

img {
  max-width: 300px;
}

.hover-image {
  position: absolute;
  pointer-events: none;
}

.author-info {
  position: fixed;
  bottom: 0;
  right: 1rem;
  font-size: 200px;
  mix-blend-mode: difference;
  pointer-events: none;
}
